<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Paramètres de connexion à la base de données -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/controle?createDatabaseIfNotExist=true&amp;useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecte SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Affichage et formatage des requêtes SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Génération automatique du schéma de la base de données -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mappings des entités -->
        <mapping class="ma.projet.beans.Client"/>
        <mapping class="ma.projet.beans.Assurance"/>
        <mapping class="ma.projet.beans.Contrat"/>
    </session-factory>
</hibernate-configuration>
